{% extends 'layout.box.html.twig' %}

{% block title %}
	Demande de réinitialisation du mot de passe
{% endblock %}

{% block body %}

	{% for message in app.flashes('form') %}
		<div class="alert " role="alert">{{ message }}</div>
	{% endfor %}
	<div class="container py-3 ">
		<h2 class="text-center mb-3">Demande de réinitialisation du mot de passe</h2>
		{{ form_start(form)}}
		{{ form_row(form.email)}}
		<button type="submit" class="container justify-content-center btn btn-success my-3">Valider</button>
		{{ form_end(form)}}
	</div>
{% endblock %}
