    <footer class="container-fluid ">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top d-flex justify-content-center">  
                    <div class="col-4  mb-1 bg-color-primary" >
                        <h5>Consulter notre :</h5>
                        <ul class="nav flex-column ">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Politique de protection des données</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mentions légales</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Conditions générales d'utilisation de nos données</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        </ul>
                    </div>

                    <div class="col mb-1">
                        <h5>Retrouvez-nous sur :</h5>
                         <div class="social-media">
                            <a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
                            <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a>
                            <a href="#"><i class="fa-brands fa-x-twitter"></i>Twitter</a>
                        </div>
                    </div>

                    <div class="col mb-1">
                        <h5>Nous vous accompagnons :</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Devenez auteur</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Newsletter</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Qui sommes nous ?</a></li>
                        </ul>
                    </div >
                </div>
                <div class="container"> 
                    <p class="text-center text-body-secondary">© 2024 Commission Nationale des TIPPEE, Inc</p>
                </div>
    </footer>   