    <footer class="container-fluid bg-primary">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-2 my-1 border-top d-flex justify-content-between">  
                    <div class="col-4  mb-0" >
                        <h5>Consulter notre :</h5>
                        <ul class="nav flex-column ">
                            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Politique de protection des données</a></li>
                            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Mentions légales</a></li>
                            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Conditions générales d'utilisation de nos données</a></li>
                            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        </ul>
                    </div>

                    <div class="col-4 mb-0">
                        <h5>Retrouvez-nous sur :</h5>
                         <div class="social-media" >
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>

                    <div class="col-4 mb-0">
                        <h5>Nous vous accompagnons :</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Devenez auteur</a></li>
                            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Newsletter</a></li>
                            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Qui sommes nous ?</a></li>
                        </ul>
                    </div >
                </div>
                <div class="d-flex m-3 justify-content-center"> 
                    <p class="text-center text-body-secondary">© 2024 Commission Nationale des TIPPEE, Inc</p>
                </div>
    </footer>   