{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Administration BiblioTIPPEE{% endblock %}

{% block body %}


<div class="container">
    <h1 class="text-center">Bienvenue sur Administration BiblioTIPPEE</h1>
    <p>Cette page est réservée aux administrateurs.</p>
    <p>Vous pouvez gérer les utilisateurs, les documents, les commentaires et les catégories.</p>
    <p>Vous pouvez également consulter les statistiques du site.</p>
</div>
{% endblock %}
