// Then import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Variable overrides first
$primary: #28a745;
$bg-body-primary: #f5f8ff;
$bg-body-secondary: #f8f9fa;
$bg-nav-primary: #3e3e3f;
$enable-shadows: true;
$prefix: 'mo-';

body {
  background-color: $bg-body-primary;
}

button {
  background-color: $primary;
  border-color: $primary;
}

.bg-nav {
  background-color: $bg-nav-primary;
  color: white;
}

social-media a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
