{% extends 'base.html.twig' %}

{% block title %}Hello DocumentController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Liste de nos documents en archive numérique</h1>
 {# {% for document in documents %} #}
        <h2>{{ document}}</h2>
        <p>
            <img src="{{ asset('images/documents/' ~ document) }}" style="max-width: 200px" />
        </p>
       <p>
           <a href="/document/{{ document }}">Voir détails</a>
        </p>
</div>
{% endblock %}
