{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <main>
            <section class="container-fluid bg-success py-5">
                    <div class=" px-4 px-lg-5 my-4">
                        <div class="text-center text-white">
                            <h1 class="display-5 fw-bolder">Consulter notre catalogue de documents en ligne</h1>
                            <p class="lead fw-normal text-white-50 mb-0">Le devoir de rendre compte</p>
                        </div>
                    </div>
            </section>
            <section class="container py-5">
                <div class="text-center display-6 fw-bolder px-md-5 my-4">
                    Rechercher un document
                     {%  include "components/_search_data.html.twig"  with  
                     { form: form } only  %}
                </div>
            </section>
            <section class="container py-5">
                {% include 'partials/document/_document_block.html.twig' %}
            </section>
            <section class="container py-5">
                <div class="text-center display-5 fw-bolder px-lg-5 my-4">
                    Informations utiles sur le catalogue
                </div>
            </section>
    </main>
{% endblock %}

 
