<div class="row align-items-center bg-warning">
		{% if categories %}
		<div class="d-flex flex-row flax-wrap justify-content-between align-items-center shadow-2">
			<div class="col col-md-3">
				<select class="form-select" aria-label="select by category">
					<option selected>Choisir une catégorie</option>
					{% for category in categories %}
						<option value="{{ path('app_document_index', {'category': category.id}) }}">{{ category.intitule }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="search-container">
      		<input type="text"  name="search">
      		<button type="submit"><i class="fa fa-search"></i></button>
  			</div>
		</div>
		{% else %}
			<div class="text-center bg-warning">Désolé aucune catégorie trouvée !</div>
		{% endif %}
	</div>